<nav class="nav-style">
  <div>
    <a href="/" class="nav-inside-content">airbnb</a>
    <a href="/host/host-homes-list" class="nav-inside-content">host-homes</a>
    <a href="/homes-list" class="nav-inside-content">homes-list</a>
    <a href="/host/add-home" class="nav-inside-content">Add Home</a>
    <a href="/bookings" class="nav-inside-content">Bookings</a>
    <a href="/favorites" class="nav-inside-content">Favorites</a>
  </div>
</nav>