<html>
<%- include("../Partials/Head") %>
  <link rel="stylesheet" href="/404Page.css">
  <link rel="stylesheet" href="/nav.css">
  <link rel="stylesheet" href="/bookings.css">
  </head>

  <body>
    <%- include("../Partials/nav") %>
      <main>
        <div class="div-container">
          <h1 class="my-bookings">My Booking's Lists</h1>
        </div>
      </main>
  </body>

</html>