<%- include("../Partials/Head") %>
  <link rel="stylesheet" href="/homeAddedSuccess.css">
  <link rel="stylesheet" href="/nav.css">
  </head>

  <body>
    <%- include("../Partials/nav") %>
      <main>
        <div class="div-container">
          <h1 class="h1-heading">Home Registered Successfully</h1>
          <a href="/" class="button-style">Go To Home</a>
        </div>
      </main>
  </body>

  </html>