* {
  margin: 0;
  padding: 0;
}

.div-container {
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 90%;
  border-radius: 8px;
  text-align: center;
  text-wrap: nowrap;
}

.h1-heading {
  font-size: calc(0.8rem + 0.8vw);
  font-weight: bold;
  margin: 10px 10px;
  word-wrap: break-word;
}

.button-style {
  text-decoration: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.6rem;
  width: 80px;
  display: inline-block;
}
